@model DonateBlood.Models.BloodRequestShowModel
<div class="blood-request-container m-4 border-primary">
    <div class="position-relative blood-req-img-wrraper width-250px height-250px">
        <img class="blood__req__img position-absolute w-100 height-250px"
            src="\@{@Model.ProfileImg}" alt="\@{@Model.ProfileImg}">
    </div>
    <div class="width-250px d-flex flex-column align-items-center height-250px">
        <div
            class="request-heading-wrraper w-100 height-40px bg-primary d-flex align-items-center justify-content-center">
            <h6 class="font-monserrat text-white font-weight-bold">Required @{@Model.BloodType} blood type</h6>
        </div>
        <p class="mt-2 font-monserrat font-size-1rem font-weight-bold">Location:</p>
        <p class="font-monserrat font-size-1rem font-weight-bold">@{@Model.DonateLocation}</p>
        <div>
            <button class="request__read__more__btn rounded">read more</button>
        </div>
    </div>


</div>