@model AplicationUser
<div class="donor-container d-flex flex-column flex-md-row border-primary m-4">
  <div class="donor-img-wrraper">
    <img class="position-absolute w-100 h-100" src="@{@Model.ProfileImg}" alt="@{@Model.ProfileImg}">
  </div>
  <div class="donor-details-wrraper d-flex flex-column">
    <div
      class="donor-name-wrraper bg-primary d-flex flex-column align-items-center justify-content-center text-white font-monserrat font-size-1rem font-weight-bold">
      <p class=m-0"> @Model.Name @Model.Surname</p>
    </div>
    <p class="ml-4 mt-4 font-monserrat text-dark-red font-weight-bold"><span
        class="mr-4 text-grey font-weight-bold">Blood Type:</span>@Model.BloodType</p>
    <p class="ml-4 mt-4 font-monserrat font-weight-bold text-dark"><span
        class="mr-4 font-weight-bold">Location:</span>@Model.Location</p>
  </div>
</div>