<footer class="container-fluid p-0">
    <div class="row no-gutters d-flex flex-column flex-md-row">
        <div class="col-12 col-md-6 bg-primary d-flex flex-column justify-content-center align-items-center p-4">
            <h6 class="font-monserrat text-center text-white font-weight-bold font-size-1-2rem">Send us a message</h6>
            <form class="d-flex flex-column align-items-center">
                <input class="footer__input" type="text" name="name" placeholder="Name">
                <input class="footer__input" type="text" name="email" placeholder="Email">
                <textarea class="footer__textarea" name="message" cols="40" rows="5" placeholder="Message"></textarea>
                <button>Send</button>
            </form>
        </div>
        <div class="col-12 col-md-6 bg-black d-flex flex-column justify-content-center">
            <h6 class="text-white text-center font-monserrat font-weight-bold font-size-1-2rem pt-4">Contact info</h6>
            <ul class="mt-4">
                <li class="d-flex"><span class="phone__icon"></span>0345-0567-21</li>
                <li class="d-flex"><span class="location__icon"></span>3395 Edwards Street,New York</li>
                <li class="d-flex"><span class="facebook__icon"></span>Donate Blood</li>
                <li class="d-flex"><span class="instagram__icon"></span>Donate Blood</li>
            </ul>
        </div>
    </div>
</footer>