<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DonateBlood</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-grey z-index-100">
            <a class="navbar-brand text-primary font-monserrat" href="#"><span class="text-dark-red">D</span>onate <span
                    class="text-dark-red">B</span>lood</a>
            <button class="navbar-toggler bars" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-primary font-monserrat" href="#">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary font-monserrat" href="#">search donors</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-primary font-monserrat" href="#"
                            id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            blood type requests
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item text-primary font-monserrat" href="#">request blood</a>
                            <a class="dropdown-item text-primary font-monserrat" href="#">view blood requests</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary font-monserrat" href="#">sign in</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer class="container-fluid p-0">
        <div class="row no-gutters d-flex flex-column flex-md-row">
            <div class="col-12 col-md-6 bg-primary d-flex flex-column justify-content-center align-items-center p-4">
                <h6 class="font-monserrat text-center text-white font-weight-bold font-size-1-2rem">Send us a message</h6>
                <form class="d-flex flex-column align-items-center">
                    <input class="footer__input" type="text" name="name" placeholder="Name">
                    <input class="footer__input" type="text" name="email" placeholder="Email">
                    <textarea class="footer__textarea" name="message" cols="40" rows="5" placeholder="Message"></textarea>
                <button>Send</button>
                </form>
            </div>
            <div class="col-12 col-md-6 bg-black d-flex flex-column justify-content-center">
                <h6 class="text-white text-center font-monserrat font-weight-bold font-size-1-2rem pt-4">Contact info</h6>
                <ul class="mt-4">
                    <li class="d-flex"><span class="phone__icon"></span>0345-0567-21</li>
                    <li class="d-flex"><span class="location__icon"></span>3395 Edwards Street,New York</li>
                    <li class="d-flex"><span class="facebook__icon"></span>Donate Blood</li>
                    <li class="d-flex"><span class="instagram__icon"></span>Donate Blood</li>
                </ul>
            </div>
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
