<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] DonateBlood</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/searchdonors.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/register.css" />
     <link rel="stylesheet" href="~/css/myprofile.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-grey z-index-100">
            <a class="navbar-brand text-primary font-monserrat" href="#"><span class="text-dark-red">D</span>onate <span
                    class="text-dark-red">B</span>lood</a>
            <button class="navbar-toggler bars" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">

                        <a class="nav-link text-primary font-monserrat d-flex align-items-center" href="/Home"> <span
                                class="home__icon mr-2"></span>Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary font-monserrat d-flex align-items-center"
                            href="/SearchDonors"><span class="glass__icon mr-2"></span>search donors</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-primary font-monserrat d-flex align-items-center"
                            href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="drop__icon mr-2"></span>
                            blood type requests
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item text-primary font-monserrat" href="#">request blood</a>
                            <a class="dropdown-item text-primary font-monserrat" href="#">view blood requests</a>
                        </div>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link text-primary font-monserrat d-flex align-items-center"
                            href="/MyProfile"><span class="user__icon mr-2"></span>My Profile</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-primary font-monserrat d-flex align-items-center"
                            href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <span class="login__icon mr-2"></span>
                            sign in</a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item text-primary font-monserrat" href="/register">register</a>
                            <a class="dropdown-item text-primary font-monserrat" href="/login">login</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main">
        @RenderBody()
    </main>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
