<div class="container-fluid p-0">
    <h1 class="text-center font-monserrat font-size-2rem font-weight-bold mt-3">Register</h1>
    <div class="row d-flex justify-content-center">
        <form id="registerForm" class="register-form d-flex flex-column flex-sm-row align-items-center" action="#">
            <div class="col-6 d-flex flex-column align-items-center">
                <input class="input__register m-3" type="text" name="Name" placeholder="Name">
                <input class="input__register m-3" type="text" name="Email" placeholder="Email">
                <input class="input__register m-3" type="text" name="Phone" placeholder="Phone">
            </div>
            <div class="col-6 d-flex flex-column align-items-center">
                <input class="input__register m-3" type="text" name="Surname" placeholder="Surname">
                <input class="input__register m-3" type="text" name="Location" placeholder="Location">
                <input class="input__register m-3" type="text" name="Password" placeholder="Password">
            </div>
        </form>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 d-flex justify-content-center ">
                    <button class="register__btn" type="submit" form="registerForm">Register</button>
                </div>
            </div>
        </div>
    </div>
</div>