@model DonateBlood.Models.LoginModel
<h2 class="text-center font-monserrat font-weight-bold mt-4">Enter Email and Password</h2>
<div class="container-fluid d-flex flex-column align-items-center mt-4">
    <div class="row">
        <form asp-controller="DeleteAccount" asp-action="Index" method="post" id="deleteAccountForm">
            <div class="col-12 d-flex flex-column align-items-center">
                <input class="login__input m-2" type="text" name="Email" placeholder="Email">
                <span class="text-danger" asp-validation-for="Email"></span>
                <input class="login__input m-2" type="text" name="Password" placeholder="Password">
                <span class="text-danger" asp-validation-for="Password"></span>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="login__btn mt-4" form="deleteAccountForm">Delete Account</button>
    </div>
</div>