<div class="container-fluid mt-4">
    <div class="row ">
        <div class="col-4 col-md-3">
            <img class="img-fluid " src="/images/donor/donor.png" alt="donor.png">
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-md-3">
            <div class="dropdown">
                <button class="btn bg-primary dropdown-toggle" type="button" id="profileDropdownBtn"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    options
                </button>
                <div class="dropdown-menu bg-grey" aria-labelledby="profileDropdownBtn">
                    <a class="dropdown-item profile__link d-flex align-items-center" href="#"> <span
                            class="edit__icon"></span>edit profile</a>
                    <a class="dropdown-item profile__link d-flex align-items-center" href="#"><span
                            class="post__icon"></span>show my posts</a>
                    <a class="dropdown-item profile__link d-flex align-items-center" href="#"><span
                            class="delete__icon"></span>delete account</a>
                </div>
            </div>
        </div>
    </div>
</div>