@model X.PagedList.IPagedList<BloodRequestShowModel>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common

<div class="container-fluid">
 <h1 class="text-center font-monserrat font-size-1rem mt-4 font-weight-bold">My Posts</h1>
    <div class="row mt-4">
         <div class="col-12 d-flex flex-column align-items-center">
             @if(Model.Count() > 0){
                 @foreach(var request in Model){
                 <partial name="_MyBloodRequest" model="request" />
                 }

             }
             else{
                 <h1 class="mt-4 font-monserrat text-dark font-weight-bold">No posts</h1>
             }
             

         </div>
    </div>
</div>
<div class="container-fluid d-flex justify-content-center">
            @if (Model.Count() > 0)
            {
                <ul class="pagination">
                    <li class="page-item p-4">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                    new PagedListRenderOptions{
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link pagination__link" }

                    });
                    </li>
                </ul>

            }


</div>
@section Scripts{
 <script src="~/js/bloodrequest.js" asp-append-version="true"></script>

}