@model DonateBlood.Models.BloodRequest
<div class="container-fluid">
    <h1 class="text-center font-monserrat font-size-1rem mt-4 text-dark">Send Blood request</h1>
    <div class="row">
        <div class="col-12">
            @Html.ValidationSummary()
            <form asp-controller="RequestBlood" asp-action="SendRequest" method="POST"
                class="d-flex flex-column align-items-center w-100 mt-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="d-flex flex-column align-items-center flex-sm-row justify-content-sm-center w-100">
                    <label class="font-monserrat font-size-1rem font-weight-bold m-4" for="blood">blood type</label>
                    <select class="rounded m-0" name="BloodType" id="BloodTypes">
                        <option selected value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB-">AB-</option>
                        <option value="AB+">AB+</option>
                        <option value="0+">0+</option>
                        <option value="0-">0-</option>
                    </select>
                    <label class="m-4" for="DonateLocation">Donate location:</label>
                    <input id="DonateLocation" class="width-150px border-primary rounded" type="text"
                        name="DonateLocation">
                     <br>
                </div>
                <div class="w-100 d-flex justify-content-center">
                    <textarea class="mt-4" name="BloodReqDesc" id="ReqBloodDesc" placeholder="Description.."></textarea> <br>
                </div>
                <div>
                    <button type="submit" class="p-2 mt-4 width-12rem rounded send__req__btn">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
