<div class="container-fluid p-0 bg-black">
    <div class="row no-gutters">
        <div class="col-12 d-flex flex-column align-items-center justify-content-center height-500px">
            <h1 class="text-center home__heading font-permanent-marker font-size-4rem">Donate Blood</h1>
            <img class="image-fluid home__bg__img" src="/images/home/bloodDrop.svg" alt="bloodDrop.svg">
            <img class="wave__img" src="images/home/wave1.svg" alt="wave1.svg">
        </div>
    </div>
</div>
<div
    class="container-fluid d-flex flex-column flex-lg-row flex-md-row align-items-center  align-items-md-center justify-content-md-center">
    <div class="col-8 col-sm-6 col-md-3 bg-primary m-4 d-flex flex-column align-items-center  home-card-item">
        <img class="home__card__img" src="/icons/home/donorHand.svg" alt="donorHand.svg">
        <p class="home__card__text font-monserrat text-center">Over 3000 donors</p>
    </div>
    <div class="col-8 col-sm-6 col-md-3 bg-primary m-4 d-flex flex-column align-items-center  home-card-item">
        <img class="home__card__img" src="/icons/home/user.svg" alt="donorHand.svg">
        <p class="home__card__text font-monserrat text-center">Over 3000 active users</p>
    </div>
    <div class="col-8 col-sm-6 col-md-3 bg-primary m-4 d-flex flex-column align-items-center  home-card-item">
        <img class="home__card__img" src="/icons/home/map.svg" alt="donorHand.svg">
        <p class="home__card__text font-monserrat text-center">Over 3000 locations</p>
    </div>
</div>
<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-12 bg-primary height-50px d-flex justify-content-center align-items-center">
            <h6 class="font-monserrat text-white font-weight-bold font-size-2rem mb-0">About us</h6>
        </div>
    </div>
</div>
<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            <img class="img-fluid home__img" src="/images/home/home1.jpg" alt="home1.jpg">
            <div class="home-img-overlay"></div>
            <p class="font-monserrat font-weight-bold text-justify text-grey p-4">Lorem ipsum dolor sit amet consectetur
                adipisicing
                elit. Ad, dicta quis porro exercitationem veniam facilis doloribus quos modi odit excepturi sed expedita
                dolor! Nesciunt velit ratione voluptas unde nulla cum neque ipsum exercitationem asperiores eaque beatae
                minima omnis autem cumque distinctio eos delectus, reiciendis doloremque, ducimus alias expedita optio
                similique. Exercitationem earum eaque odit, quas sunt, fuga vitae doloribus laborum dicta porro rem
                excepturi in nobis sed harum. Labore suscipit consectetur nam eligendi quasi eos odio. Dolores, magnam
                corporis, at asperiores qui recusandae libero tempora accusamus nulla mollitia maiores expedita eos
                eaque? Quidem consequuntur vitae nostrum? Dignissimos aliquid tempore repudiandae!</p>

        </div>
    </div>
</div>
<partial name="_Footer"></partial>
