<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex flex-column align-items-center">
            <p class="font-monserrat font-size-1rem">@ViewBag.QS</p> <br>
            <p class="font-monserrat font-size-1rem">@ViewBag.ErrorMessage</p>
        </div>
    </div>
</div>