.search__icon{
    position: relative;
    background: url("../icons/searchdonors/search.svg");
    width: 20px;
    height: 20px;
    display: inline-block;
    top:9px;
    left:1px;
}

.donor-container{
    position: relative;
    width:500px;
    height:250px;
    cursor: pointer;
}

.donor-container:hover{
    filter: drop-shadow(0 0 0.50rem black);
    transition: filter 0.5s;
}

#BloodTypes{
    position: relative;
    width:4rem;
   border: 2px solid #BF1212;
   margin-left: 2rem;
}

.donor-img-wrraper{
    position: relative;
    width: 250px;
    height:246px;
    left: 0;
    top: 0;
}

.donor-name-wrraper{
    position: relative;
    left:0;
    top:0;
    width:17rem;
    height:2rem;
}

.region__input{
    position: relative;
    width: 12rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #BF1212;
    outline: none;
    margin-top: 2rem;
}

.filter__search__btn{
    position: relative;
    background-color: #BF1212;
    color: white;
    font-family: "Monserrat";
    font-size: 1rem;
    width: 5rem;
    margin: 1rem;
    height: 2rem;
    top: 1rem;
    font-weight: bold;

}

@media only screen and (max-width:768px){
    .donor-container{
        height:400px;
        width: 254px;
    }

    .donor-name-wrraper{
        width: 15.7rem;
    }
}

@media only screen and (max-width:576px){
    .region__input{
        margin-left:0.5rem;
    }

    .filter__search__btn{
        margin-left:2rem;
        width:9rem;
    }
    
}




