html,body{
  width: 100%;
  margin: 0;
  padding: 0;
}

/*overide of bootstrap*/
.bg-primary{
  background-color: #BF1212 !important;
}

.text-primary{
  color: white !important;
  font-weight: bold;
}



.bg-grey{
  background-color: #2F2E2E !important;
}

.text-dark{
  color: black;
  font-weight: bold;
}

.navbar-nav a:hover { 
  color: #BF1212 !important;
 }

 .navbar-nav a:focus { 
  color: #BF1212 !important;
 }

 .navbar > a:hover{
   color: white !important;
 }

 
 

 /*FONTS*/
 @font-face {
   font-family:"Monserrat";
   src: url("../fonts/Montserrat-Regular.ttf");
 }

 @font-face {
   font-family:"Permanent Marker";
   src: url("../fonts/PermanentMarker-Regular.ttf");
 }

 .font-monserrat{
   font-family: "Monserrat";
 }

 .font-permanent-marker{
  font-family: "Permanent Marker";

 }



/*CUSTOM CLASSES*/
.bars{
  background-color: #BF1212;
}

.z-index-100{
  position: relative;
  z-index: 100;
}



.bg-black{
  background-color: #010101;
}

/*HEIGHTS*/

.height-500px{
  height: 500px;
}

.height-400px{
  height: 400px;
}

.height-50px{
  height: 50px;
}

.height-300px{
  height: 300px;
}

.height-250px{
  height:250px;
}




/*TEXT COLORS*/
.text-dark-red{
  color: red;
}

.text-white{
  color: white;
}

.text-grey{
  color: #434040;
}



/*FONT SIZE*/
.font-size-1rem{
  font-size: 1rem;
}


.font-size-2rem{
  font-size: 2rem;
}

.font-size-4rem{
  font-size: 4rem;
}

.font-size-1-2rem{
  font-size:1.2rem;
}

.font-size-1-4rem{
  font-size: 1.4rem;
}

/*CUSTOM ICONS*/
.phone__icon{
  background: url("../icons/footer/phone.svg");
  height:46px;
  width:46px;
  display:block;
  background-repeat: no-repeat;
}

.location__icon{
  background: url("../icons/footer/location.svg");
  height:46px;
  width:46px;
  display:block;
  background-repeat: no-repeat;
}

.facebook__icon{
  background: url("../icons/footer/facebook.svg");
  height:46px;
  width:46px;
  display:block;
  background-repeat: no-repeat;
}

.instagram__icon{
  background: url("../icons/footer/instagram.svg");
  height:46px;
  width:46px;
  display:block;
  background-repeat: no-repeat;
}

/*BORDER*/
.border-red-bottom{
  border-left:none;
  border-right: none;
  border-top: none;
  border-bottom: 2px solid #D40000;
}

.border-red{
  border:2px solid #D40000; 
}

.border-primary{
  border:2px solid #BF1212 !important;
}

/*  OUTLINE*/
.outline-none{
  outline: none;
}

/*CURSOR POINTER*/
.cursor-pointer{
  cursor: pointer;
}

/*FOOTER*/

footer ul li{
  list-style: none;
  color: white;
  font-family: "Monserrat";
  font-weight: bold;
  margin: 1rem;
}

.footer__input{
  position: relative;
  width:12rem;
  margin: 1rem;
}

footer button{
  margin-top: 1rem;
  background-color: #464645;
  color: white;
  font-family: "Monserrat";
  font-weight: bold;
  width:9rem;
  cursor: pointer;
  border: 2px solid white;
}

::placeholder{
  font-family: "Monserrat";
  padding-left: 1rem;
  font-weight: bold;
}
