html,body{
  width: 100%;
  margin: 0;
  padding: 0;
}

/*overide of bootstrap*/
.bg-primary{
  background-color: #BF1212 !important;
}

.text-primary{
  color: white !important;
  font-weight: bold;
}



.bg-grey{
  background-color: #2F2E2E !important;
}

.text-dark{
  color: black;
  font-weight: bold;
}

.navbar-nav a:hover { 
  color: #BF1212 !important;
 }

 .navbar-nav a:focus { 
  color: #BF1212 !important;
 }

 .navbar > a:hover{
   color: white !important;
 }

 
 

 /*FONTS*/
 @font-face {
   font-family:"Monserrat";
   src: url("../fonts/Montserrat-Regular.ttf");
 }

 @font-face {
   font-family:"Permanent Marker";
   src: url("../fonts/PermanentMarker-Regular.ttf");
 }

 .font-monserrat{
   font-family: "Monserrat";
 }

 .font-permanent-marker{
  font-family: "Permanent Marker";

 }



/*CUSTOM CLASSES*/
.bars{
  background-color: #BF1212;
}

.text-dark-red{
  color: red;
}

.z-index-100{
  position: relative;
  z-index: 100;
}

.font-size-4rem{
  font-size: 4rem;
}

.bg-black{
  background-color: #010101;
}

.height-500px{
  height: 500px;
}

.height-400px{
  height: 400px;
}

.height-300px{
  height: 300px;
}


