@model X.PagedList.IPagedList<AplicationUser>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common

<div class="container-fluid p-0 d-flex flex-column justify-content-center  align-items-center">
    <h6 class="font-monserrat font-size-1-4rem mt-4 font-weight-bold">Filter search</h6>
    <form asp-controller="SearchDonors" asp-action="Index" method="GET"
        class="d-flex flex-column flex-sm-row justify-content-center w-100 mt-4">
        <div class="d-flex flex-column justify-content-center mr-4 ">
            <label class="font-monserrat font-size-1rem font-weight-bold pl-4" for="blood">blood type</label>
            <select name="BloodTypes" id="BloodTypes">
                <option selected value="All">All</option>
                <option value="A+">A+</option>
                <option value="A-">A-</option>
                <option value="B+">B+</option>
                <option value="B-">B-</option>
                <option value="AB-">AB-</option>
                <option value="AB+">AB+</option>
                <option value="0+">0+</option>
                <option value="0-">0-</option>
            </select>
        </div>
        <div class="ml-4 d-flex flex-column justify-content-center">
            <input class="region__input" type="text" name="Region" placeholder="Region">
        </div>
        <button class="filter__search__btn" type="submit">search</button>
    </form>
</div>
<div class="container-fluid p-4">
    <div class="row no-gutter">
        <div class="col-12 d-flex flex-column align-items-center justify-content-center">
            @if (Model.Count() > 0)
            {
                @foreach (var donor in Model)
                {

                    <a class="donor__details__link" asp-controller="SearchDonors" asp-action="DonorDetails"
                asp-route-userId=@{@donor.Id}>
                        @if (donor.Email != User.Identity.Name)
                        {
                            <partial asp-controller="SearchDonors" asp-action="Donor" asp-route-userId="@{@donor.Id}" name="_Donor"
                    model="donor"></partial>
                        }
                    </a>
                }

            }
            else
            {
                <h6 class="font-monserrat font-weight-bold font-size-2rem mt-4">Donor list empty!</h6>
            }

        </div>
        <div class="container-fluid d-flex justify-content-center">
            @if (Model.Count() > 0)
            {
                <ul class="pagination">
                    <li class="page-item p-4">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
                    new PagedListRenderOptions{
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link pagination__link" }

                    });
                    </li>
                </ul>

            }


        </div>
    </div>
    <script src="~/js/searchdonors.js"></script>
